{% extends 'base.html.twig' %}

{% block title %}BackOffice | Gestion des articles
{% endblock %}

{% block body %}


	<h1 class="display-4 text-center my-4">BackOffice | Gestion des article
	</h1>


{% endblock %}
