{% extends 'base.html.twig' %}

{% block title %}BackOffice | Gestion des categories
{% endblock %}

{% block body %}


	<h1 class="display-4 text-center my-4">BackOffice | Gestion des categories</h1>


<table class="table table-striped table-dark table-bordered text-center">
	<thead class="thead-inverse">
		<tr>
			<th class="bg-info"></th>
			<th class="bg-info">Titre</th>
			<th class="bg-info">Contenu</th>
			<th class="bg-info">Image</th>
			<th class="bg-info">Date</th>
		</tr>
		</thead>
		<tbody>
			<tr>
				<td scope="row">A</td>
				<td>1</td>
				<td>2</td>
				<td>3</td>
				<td>4</td>
			</tr>
			<tr>
				<td scope="row">B</td>
				<td>1</td>
				<td>2</td>
				<td>3</td>
				<td>4</td>
			</tr>
		</tbody>
</table>

{% endblock %}
