{% extends "base.html.twig" %}

{% block body %}

	<h1 class="display-4 text-center my-4">{{ title }}</h1>

	{% if age > 18 %}
		<p>Vous etes majeur
		</p>

	{% else %}
		<p>Vous etes mineur</p>

	{% endif %}


	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque molestiae exercitationem modi recusandae perspiciatis, impedit velit deleniti harum adipisci, consectetur, reiciendis corrupti eius numquam laborum pariatur quae? Voluptatum, quo ducimus Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque molestiae exercitationem modi recusandae perspiciatis, impedit velit deleniti harum adipisci, consectetur, reiciendis corrupti eius numquam laborum pariatur quae? Voluptatum, quo ducimus.</p>

	<p>Adipisicique ipsum dolor, nsectetur adipisicique molestiae exercitationem modi recusandae perspiciatis, impedit velit deleniti harum adipisci, consectetur, reiciendis corrupti eius numquam laborum pariatur quae? Voluptatum, quo ducimus.</p>

	<p>Ipsum dolor, sit amet consectetur adipit. Doloremque molestiae exercitationem modi recusandae perspiciatis, impedit velit deleniti harum adipisci, consectetur, reiciendis corrupti eius numquam laborum pariatur quae? Voluptatum, quo ducimus.</p>

	<p>Perspiciatis sit amet consectetur adipisicing elit. Dolor molestiae ecitationem modi recusandae perspiciatis, impedit velit deleniti harum adipisci, consectetur, reiciendis corrupti eius numquam laborum pariatur quae? Voluptatuur quae? Voluptatum, quo ducimus Lorem ipsumm, quo ducimus.</p>

{% endblock %}
