{% extends "base.html.twig" %}

{% block title %}Mon blog Symfony | Détail articles{% endblock %}



{% block body %}

    <h1 class="display-4 text-center my-4"> Détail de l'articles </h1>

    <div class="row">
        <div class="col-md-12">
            <div class="card lg-12 shadow-sm">
                <img src="https://picsum.photos/1000/400" alt="">
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero autem doloremque quaerat explicabo incidunt. Nemo est sunt, voluptatum debitis, tempora quis veritatis aperiam mollitia maiores error magnam ratione possimus voluptate saepe incidunt aut, officia architecto. Velit eligendi qui blanditiis placeat odio nihil ratione ea, assumenda ad nesciunt commodi dolor fugiat.</p>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero autem doloremque quaerat explicabo incidunt. Nemo est sunt, voluptatum debitis, tempora quis veritatis aperiam mollitia maiores error magnam ratione possimus voluptate saepe incidunt aut, officia architecto. Velit eligendi qui blanditiis placeat odio nihil ratione ea, assumenda ad nesciunt commodi dolor fugiat.</p>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero autem doloremque quaerat explicabo incidunt. Nemo est sunt, voluptatum debitis, tempora quis veritatis aperiam mollitia maiores error magnam ratione possimus voluptate saepe incidunt aut, officia architecto. Velit eligendi qui blanditiis placeat odio nihil ratione ea, assumenda ad nesciunt commodi dolor fugiat.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}